<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="IMSDBContext"
      connectionString="metadata=res://*/IMSContext.csdl|res://*/IMSContext.ssdl|res://*/IMSContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-OE2FTGQ\JOBAYER;initial catalog=IMSDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>
